extends layout

block content
	h2= title
	p ログインページ
	p.caution= error
	form(method='POST',action='/login', name="loginForm")
		input(type="text", id="name", name="userName", placeholder="名前", size="30")
		br
		input(type="password", id="pass", name="pass", placeholder="パスワード", size="30")
		br
		input(type="submit", name="newUser", value="新規登録")
		input(type="submit", name="login", value="ログイン")



